# Pages
{{#sections}}
##  {{displayName}}
Ordinal|Width|Height|Visible|Filters
-|-|-|-|-
|{{ordinal}}|{{width}}|{{height}}|{{displayOption}}|{{filters}}|

### {{displayName}}-Visuals
{{#visualContainers}}
{{}}
{{/visualContainers}}
{{/sections}}